* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("img/bg.jpeg"); */
    background-size: cover;
    overflow: hidden;
    height: 100vh;

}

.taskbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 110;
    align-items: center;
    height: 50px;
}

.taskbar img {
    width: 30px;
    height: 28px;
    padding: 6px;
}

.taskbar img:hover {
    transition: all 0.3s ease-in;
    background-color: #d1d1d1;
    border-radius: 8px;
}

.taskbar img:active {
    background-color: #b8b8b8;
    transform: scale(0.9, 0.9);
}

.rightTaskbar {
    position: absolute;
    right: 30px;
    margin: 6px 0;
    height: 85%;
    display: flex;
    justify-content: flex-end;
}


.icons img {
    width: 74px;
}

.icons {
    width: 8%;
    padding: 10px;
    text-align: center;
}

/* START MENU BAR NOW */
.startmenu {
    bottom: -655px;
    transition: all 0.5s ease-in;

    height: 500px;
    width: 530.63px;
    margin-left: calc(50% - 265.315px);
    position: absolute;
    bottom: 50px;
    z-index: 90;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    margin-bottom: 4px;
    border-radius: 7px;
    transform: translateY(660px);

}

/* ---------- */
.SearchIcon {
    background: url(img/icons/search.svg) no-repeat;
    content: "";
    position: absolute;
    left: 33px;
    top: 33px;
    opacity: 0.7;
    bottom: 0;
    width: 22px;
}

.search {
    text-align: center;
    padding: 27px 0px 0;
}

.SearchInput {
    padding: 10px 0 10px 40px;
    border: 0;
    border-radius: 3px;
    border-bottom: 2.5px solid #2184e2;
    width: 450px;
    outline: 0;
}

/* ---------- */
.start-top-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 15px 40px 0;
}

.start-top-elements span {
    font-size: smaller;
    font-weight: 700;
}

.start figure:focus,
.start-icons figure:active {
    transform: scale(1.1);
}

.start-icons figure:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.openAll {
    background-color: #fff;
    padding: 2px 5px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    /* cursor: pointer; */
}

.smallRight {
    width: 15px;
}

.pinned .start-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    padding: 20px 30px 0px 30px;
    align-items: end;
    grid-gap: 5px;
}

figure {
    text-align: center;
    font: status-bar;
    width: 72.9px;
    /* cursor: pointer; */
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center img,
.start-icons img {
    display: inline-block;
    width: 25px;
    /* cursor: pointer; */
    margin: 4px;
    padding: 3px;
}

/* --------- */

.profile {
    position: absolute;
    padding: 9px 41px;
    width: 450px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 20%);
    border-top: 1.5px solid grey;
}

.user {
    display: flex;
}

.user img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.user span {
    padding: 8.5px;
    font-size: small;
}

.profile #shutdown {
    width: 25px;
}

/* END OF START MENU */
/* SEARCH MENU */

.searchmenu {
    bottom: -655px;
    transition: all 0.5s ease-in;

    height: 500px;
    width: 530.63px;
    margin-left: calc(50% - 265.315px);
    position: absolute;
    bottom: 50px;
    z-index: 90;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    margin-bottom: 4px;
    border-radius: 7px;
    transform: translateY(660px);
}

.search-top-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    margin: 15px 40px 0;
}

.search-top-elements span {
    font-size: smaller;
    /* font-weight: 700; */
    padding: 0px 14px;
}

.moreSearch {
    width: 11px;
}

/* 
.searchmenu img {
    border-radius: 10px;
    width: 40%;
} */

/* END */

.action-center-button:hover {
    transition: all 0.3s ease-in;
    background-color: #d1d1d1;
    border-radius: 8px;
}

.action-center-button:active {
    background-color: #b8b8b8;
    border-radius: 8px;
}




/* Setting Timings */

#timedate {
    /* font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
      "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    width: 50%;
    margin: 40px auto;
    color: #fff;
    border-left: 3px solid #ed1f24;*/
    padding: 5px;
}

/* End */
/* Video */
#myVideo {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: -121px;
    min-width: 100%;
    min-height: 100%;
}